{
   "presets": [
	  "es2015-ie",
	  "react",
	  "stage-0"
    ],
    "plugins": [
		"lodash",
	  "transform-runtime",
	   "transform-decorators-legacy",
	   "transform-class-properties",
     "transform-object-rest-spread",
	 "add-module-exports",
	    "syntax-class-properties",
		 "syntax-decorators",
		   "syntax-object-rest-spread",
	  ["import", { libraryName: "antd", style: "css" }]

    ]
}
