html{
  font-size: 10px;
}
#app{
  height: 100%;
}
.layout-title{
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  font-size: 14px;
}
.breadcrumb-wrapper{
  padding-bottom: 15px;
}
.ant-modal-body{
  max-height: 500px;
  overflow-y: scroll;
}
.layout-contentbox{
  overflow-y: scroll;
  padding: 20px;
  height: calc(100% - 44px);
}
/*reset bootstrap's style*/
label{display: inline-block;}
